:root {

    --search-color: #f39c12;
    --search-bar: #ccc;
    --filter-color: #f4f4f4;
}
cart-component {
    display: none;
}

.menu img {
    width: 100%;
    height: auto;
}

.byluu-heseg {
    background-color: var(--bg-color-1);
    padding-top: 1rem;
}

.search-container h2 {
    padding-left: 3rem;
    /* Padding-ийг арилгаж тохируулна */
    margin: 0;
    /* Margin-ийг арилгаж тохируулна */
    color: var(--primary-text-color);
    font-size: 1.5rem;
}


.search-container {
    display: flex;
    align-items: center;
    /* Элементүүдийг босоо тэнхлэгт зэрэгцүүлэх */
    gap: 0.5rem;
    /* Элементүүдийн хоорондын зай */
    margin: 1rem 0;
}

.search-container input {
    margin-left: 5rem;
    border-radius: 100%;
}

#search-bar {
    width: 15rem;
    padding: 0.5rem;
    border: 2px solid var(--search-bar);
    border-radius: 2.5rem;
    font-size: 0.8rem;
    outline: none;
}

#search-bar:focus {
    border-color: var(--search-color)
}

.search-container img {
    width: 3%;
    height: 3%;
    color: var(--text-color);
}

.filter-section {
    display: none;
    /* Эхэндээ шүүлтүүрийг нууцлах */
    padding: 1rem;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;

    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 88%;
    margin: 16px auto;
    box-shadow: 0 0 5px rgba(252, 237, 232, 0.8);
}

.filter-section label {
    margin-right: 0.5rem;
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 8px;
}

.filter-section select {
    margin-bottom: 0.5rem;
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(252, 237, 232, 0.8);
    transition: border-color 0.3s, box-shadow 0.3s;
}

#filter-icon {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.5rem;
}
.filter-section.visible {
    display: block;
}

.filter-section h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 12px;
    text-align: center;
}

.filter-section select:hover,
.filter-section select:focus {
    border-color: #FCEDE8;
    box-shadow: 0 0 5px rgba(252, 237, 232, 0.8);
    outline: none;
}

.cakes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin: 0 2.5rem;
    margin-bottom: 2rem;
}

.cakes article {
    background: #FCEDE8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

.cakes article img {
    width: 100%;
    max-width: 9rem;
    height: auto;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    margin-top: 1rem;
}

.cakes1 h1 {
    padding-left: 0.8rem;
    margin: 0.5rem 0;
    color: var(--fourth-text-color);
    font-size: 1rem;
    text-align: left;
}

.cakes1 h2 {
    padding-left: 0.8rem;
    margin: 0.2rem 0;
    color: var(--secondary-text-color);
    font-size: 0.9rem;
    text-align: left;
    font-weight: lighter;
}

.cakes1 .price {
    margin-top: -35px;
    font-size: 1.1rem;
    color: var(--header-color);
    font-weight: bold;
    text-align: right;

}
.cakes article:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}
.add-to-cart {
    display: none;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--search-color);
    color: var(--hover-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.2s;
}

.add-to-cart:hover {
    background-color: #d48806;
}
.cakes article::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
}

.cakes article:hover::after {
    opacity: 0.9;
}

.cakes article:hover .add-to-cart {
    display: inline-block;
    z-index: 2; 
}



@media (max-width: 1068px) {
    .cakes {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .search-container input {
        margin-left: 4rem;
}
}
@media (max-width: 768px) {
    .cakes {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .search-container input {
    margin-left: 3rem;
}

}
