:root {
    --bg-color: #FDFBF7;
    --bg-color-2: rgba(217, 217, 217, 0.15);
    --bg-color-footer: #EFF0F2;
    --header-color: #4B5563;
    --text-color: #111827;
    --header-bg: #FCEDE8;
    --secondary-text-color: #6D7280;
    --third-text-color: #787878;
    --fourth-text-color: #4D4D4D;
    --footer-text-color: #484848;
    --highlight-color: #050505;
    --font-primary: Arial, sans-serif;
    --menu-height: 20rem;
    --button-color: #FCEDE8;
    --hover-color: white;
}
html {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    background-color: var(--bg-color);
    color: var(--header-color);
}

nav {
    background: var(--header-bg);
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav h1 {
    font-size: 1.5rem;
    font-family: 'Birthstone', cursive;
    font-weight: lighter;
    padding-left: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--header-color);
    font-size: 0.8rem;
}

nav ul li a:hover {
    color: var(--hover-color);
    transition: 0.3s;
}

.icons {
    list-style: none;
    display: flex;
    padding-right: 3rem;
    margin-right: 1rem;
}

.icons img {
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
    padding-left: 1.5rem;
}

.icons a:hover {
    transform: scale(1.1);
    transition: 0.3s;

}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding-right: 2rem;
}


/* Dark Mode */
[data-theme="dark"] {
    --bg-color: #121212;
    --bg-color-2: rgba(50, 50, 50, 0.5);
    --bg-color-footer: #1e1e1e;
    --text-color: #e0e0e0;
    --header-bg: #2c2c2c;
    --secondary-text-color: #b0b0b0;
    --third-text-color: #a0a0a0;
    --fourth-text-color: #d0d0d0;
    --sanal-bg-color: #FCEDE8;
    --header-color:#d0d0d0;
    --footer-text-color: #222;

}

/* Toggle Switch */
.theme-switch {
    position: absolute;
    width: 40px;
    height: 20px;
    display: inline-block;
    position: relative;
}

.theme-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    width: 40px;
    height: 20px;
    border-radius: 34px;
    transition: 0.4s;
}

.slider::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

/* Dark mode active */
input:checked + .slider {
    background-color: #4D4D4D;
}

input:checked + .slider::before {
    transform: translateX(20px);
}

html:has(#darkModeToggle:checked) {
    --bg-color: #121212;
    --bg-color-2: rgba(50, 50, 50, 0.5);
    --bg-color-footer: #1e1e1e;
    --text-color: #e0e0e0;
    --header-bg: #222;
    --secondary-text-color: #b0b0b0;
    --third-text-color: #ffffff;
    --fourth-text-color: #d0d0d0;
    --sanal-bg-color: #222;
    --button-color: #e0e0e0;
    --header-color:#d0d0d0;
    --footer-text-color: #222;

}

footer {
    background: linear-gradient(#f8f8f8, #adadad); 
    padding-bottom: 1.5rem; 
    padding: 2rem 1rem;

}

.footer-contact {
    display: grid;
    grid-template-columns: 35% 17% 18% 25%;
    gap: 1.2rem;
    padding: 2rem 3rem 2rem ; 
}

.footer-contact ul {
    list-style-type: none;
    padding: 0;
    margin:0 ;
    
}
.footer-contact h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer-contact h2 {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-contact li {
    margin-bottom: 0.5rem; 
}

.footer-contact a {
    color: var(--footer-text-color) ;
    text-decoration: none; 
    transition: color 0.3s ease;
    font-size: 0.7rem;
}

.footer-contact a:hover {
    color: var(--highlight-color); 
    font-weight: bolder;
}

.footer-contact img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    vertical-align: middle;
 }

.footer-area {
    font-size: 0.7rem;
    padding: 1rem 3rem ;
    border-top: 1px solid #444;
}

.footer-area p {
    margin: 0;
    color: var(--footer-text-color); 
}
@media (max-width: 1300px) {

    .theme-switch {
        display: none;
    }
}
@media (max-width: 1024px) {

    header nav ul li{
        margin: 0;
        padding-left: 0.9rem;
    }
    .theme-switch {
        display: none;
    }
}

@media (max-width: 768px) {

    nav ul,
    .icons, .theme-switch, .slider, #darkModeToggle {
        display: none;
    }
    .theme-switch {
        display: none;
    }
    .menu-toggle {
        display: block;
    }
    nav.active ul,
    nav.active .icons {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        background: var(--header-bg);
        padding: 1rem 0;
    }

    nav ul li {
        text-align: center;
        margin: 1rem 0;
    }
    .footer-contact {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-contact h1 {
        font-size: 2.5rem;
    }
    .footer-contact h2 {
        font-size: 0.9rem;
    }

    .footer-contact a {
        font-size: 0.85rem;
    }
}
