:root {
    --search-color: #f39c12;
    --search-bar: #ccc;
    --filter-color: #f4f4f4;
    --bg-color: #FDFBF7;
}
.menu img {
    width: 100%;
    height: auto;
}

.section12 {
    background-color: var(--bg-color-1);
    padding-top: 1rem;
}

.Sentence {
    display: flex;
    gap: 70%;
    background-color: var(--bg-color);
    margin-top: 2rem;
}

.Sentence p {
    white-space: nowrap;
    margin-top: 0.5rem;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}

.Sentence button {
    margin-top: -200px;
    display: block;
    width: 100%;
    height: 50%;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    background-color: var(--button-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.Sentence button:hover {
    transform: scale(1.01);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}

.Sanal {
    background-color: white;
    padding-top: -3rem;
}

#total-price{
    margin-top: 2rem;
    margin-left: 3rem;
}

/* Буцах svg inline */
svg {
    width: 40px;
    height: 40px;
    fill: none;
}

svg path {
    stroke: #000;
    stroke-width: 3;
    transition: stroke 0.3s;
}

svg:hover path {
    stroke: #FCEDE8; /* Буцах тэмдэгний өнгө өөрчлөгдөнө */
}

/*Dark mode css Shadow DOM дотор байгаа button-ийг this.shadowRoot.innerHTML хэсэг дотор тодорхойлсон байгаа*/
button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

cart-component div[slot="cart-footer"] button {
   margin: 40px auto;
    display: block;
    width: 20%;
    height: auto;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    background-color: var(--button-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

cart-component div[slot="cart-footer"] button:hover {
    transform: scale(1.05);
}

/* - X + styling*/
.quantity-controls{
    background: none;
    border: none;
    font-size: 20px;
}

.remove-item {
    position: absolute; /* Элементийг карт дотроо харьцангуй байрлуулна */
    top: 8px;
    right: 8px; 
    border: none;
    background: none;
    width: 24px;
    height: 24px;
    border-radius: 50%; /* Товчийг дугуй болгох */
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease;
}
.cart {
    padding-top: 2rem;
    color: var(--fourth-text-color);
    justify-self: left;
    margin-left: 3rem;
}
@media (max-width: 1068px) {
    .contain {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .search-container input {
        margin-left: 4rem;
    }
}

@media (max-width: 768px) {
    .contain {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .search-container input {
        margin-left: 3rem;
    }

}
